<launch>

    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_z" value="0.0"/>

    <!-- 启动YOLOv5检测节点 -->
    <include file="$(find yolov5_rknn_ros)/launch/detect.launch" />

    <!-- 启动语音命令节点 -->
    <include file="$(find speech_command)/launch/speech_command.launch" />

    <!-- 启动底盘驱动 (iden_controller) -->
    <include file="$(find iden_controller)/launch/my_base_driver_iden.launch" > </include>

    <!-- 启动激光雷达 -->
    <include file="$(find ydlidar)/launch/ydlidar.launch" > </include>

    <!-- 启动地图服务 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/5.4.1.yaml" output="screen">
      <param name="frame_id" value="map" />
    </node>

    <!-- 启动AMCL定位 -->
    <include file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch" />

    <!-- 启动move_base导航 -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <param name="base_local_planner" value="my_planner/MyPlanner"/>
      <rosparam file="$(find ucar_nav)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find ucar_nav)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find ucar_nav)/launch/config/move_base/global_planner_params.yaml" command="load" />
      <rosparam file="$(find ucar_nav)/launch/config/move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find ucar_nav)/launch/config/move_base/global_costmap_params.yaml" command="load" />
    </node>

    <node name="ucar_camera" pkg="ucar_camera" type="ucar_camera.py" output="screen"/>
    <node name="detect_node" pkg="yolo_ros" type="detection_node.py" output="log"/>
    <node name="qr_node" pkg="test" type="qr_node" output="screen"/>
    <node name="nav_node" pkg="ucar_nav" type="nav_node" output="screen"/>

    <!-- 启动跟随节点 -->
    <node name="follow_node" pkg="flow_test" type="follow_test" output="log" />

</launch>