<launch>
  <arg name="map_yaml" default="$(find ucar_nav)/maps/6.3.1.yaml" />
  <arg name="start_base" default="true" />
  <arg name="start_lidar" default="true" />
  <arg name="start_map" default="true" />
  <arg name="start_amcl" default="true" />
  <arg name="start_safety_monitor" default="true" />

  <include if="$(arg start_base)"
           file="$(find iden_controller)/launch/my_base_driver_iden_quiet.launch" />
  <include if="$(arg start_lidar)"
           file="$(find ydlidar)/launch/ydlidar.launch" />
  <node if="$(arg start_map)" name="map_server" pkg="map_server"
        type="map_server" args="$(arg map_yaml)" output="screen" respawn="true">
    <param name="frame_id" value="map" />
  </node>
  <include if="$(arg start_amcl)"
           file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch" />

  <node if="$(arg start_safety_monitor)"
        pkg="iden_controller" type="two_stage_profile_safety_v1.py"
        name="global_first_safety_monitor" output="screen"
        respawn="true" respawn_delay="1.0">
    <rosparam file="$(find iden_controller)/config/global_first_safety_parking_v8.yaml"
              command="load" />
    <param name="parking_passthrough" value="false" />
    <param name="escape_enabled" value="false" />
    <param name="allow_reverse" value="false" />
    <param name="front_critical_m" value="0.17" />
    <param name="front_stop_m" value="0.21" />
    <param name="front_slow_m" value="0.36" />
    <param name="side_critical_m" value="0.12" />
    <param name="side_stop_m" value="0.15" />
    <param name="side_slow_m" value="0.235" />
    <param name="nav_max_forward_mps" value="0.60" />
    <param name="nav_max_lateral_mps" value="0.0" />
    <param name="nav_max_angular_rps" value="0.84" />
    <param name="indoor_trigger_y" value="-1.75" />
    <param name="indoor_front_critical_m" value="0.22" />
    <param name="indoor_front_stop_m" value="0.27" />
    <param name="indoor_front_slow_m" value="0.52" />
    <param name="indoor_side_critical_m" value="0.14" />
    <param name="indoor_side_stop_m" value="0.19" />
    <param name="indoor_side_avoid_m" value="0.23" />
    <param name="indoor_side_slow_m" value="0.30" />
    <param name="room_cone_base_pad_m" value="0.10" />
    <param name="room_wall_front_relax_m" value="0.09" />
    <param name="room_wall_side_relax_m" value="0.05" />
    <param name="final_approach_topic" value="/two_stage/final_approach" />
    <param name="final_wall_front_relax_m" value="0.17" />
    <param name="final_wall_side_relax_m" value="0.10" />
    <param name="cone_turn_stop_m" value="0.28" />
    <param name="cone_turn_slow_m" value="0.42" />
    <param name="cone_turn_hard_stop_m" value="0.18" />
    <param name="cone_turn_escape_rps" value="0.22" />
    <param name="cone_front_stop_m" value="0.24" />
    <param name="cone_front_slow_m" value="0.42" />
    <param name="cone_side_stop_m" value="0.24" />
    <param name="cone_side_slow_m" value="0.38" />
    <param name="final_wall_front_critical_m" value="0.09" />
    <param name="final_wall_front_stop_m" value="0.12" />
    <param name="final_wall_front_slow_m" value="0.24" />
    <param name="final_wall_side_critical_m" value="0.10" />
    <param name="final_wall_side_stop_m" value="0.12" />
    <param name="final_wall_side_slow_m" value="0.20" />
  </node>

  <node pkg="iden_controller" type="front_first_two_stage_route_test_v1.py"
        name="front_first_two_stage_route_test" output="screen"
        respawn="false" required="true">
    <rosparam file="$(find iden_controller)/config/front_first_smooth_navigation_v1.yaml"
              command="load" />
    <rosparam file="$(find iden_controller)/config/front_first_two_stage_route_test_v1.yaml"
              command="load" />
    <param name="map_yaml" value="$(arg map_yaml)" />
  </node>
</launch>
