<launch>
  <arg name="map_yaml" default="$(find ucar_nav)/maps/6.3.1.yaml" />
  <arg name="config_yaml" default="$(find iden_controller)/config/global_first_nav.yaml" />
  <arg name="goal_x" default="-1.50" />
  <arg name="goal_y" default="-0.40" />
  <arg name="goal_yaw" default="3.1415926" />
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_yaw" default="0.0" />
  <arg name="start_base" default="true" />
  <arg name="start_lidar" default="true" />
  <arg name="start_map" default="true" />
  <arg name="start_amcl" default="true" />
  <arg name="start_safety_monitor" default="true" />

  <include if="$(arg start_base)"
           file="$(find iden_controller)/launch/my_base_driver_iden.launch" />
  <include if="$(arg start_lidar)"
           file="$(find ydlidar)/launch/ydlidar.launch" />

  <node if="$(arg start_map)"
        name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_yaml)" output="screen" respawn="true">
    <param name="frame_id" value="map" />
  </node>

  <include if="$(arg start_amcl)"
           file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch" />

  <node if="$(arg start_safety_monitor)"
        pkg="iden_controller" type="global_first_safety_monitor.py"
        name="global_first_safety_monitor" output="screen"
        respawn="true" respawn_delay="1.0">
    <param name="cmd_vel_in_topic" value="/cmd_vel_raw" />
    <param name="cmd_vel_out_topic" value="/cmd_vel" />
    <param name="scan_topic" value="/scan" />
    <param name="enabled" value="true" />
    <param name="swap_left_right" value="false" />
    <param name="front_stop_m" value="0.22" />
    <param name="front_critical_m" value="0.15" />
    <param name="front_slow_m" value="0.58" />
    <param name="side_stop_m" value="0.16" />
    <param name="side_critical_m" value="0.12" />
    <param name="side_avoid_m" value="0.23" />
    <param name="side_slow_m" value="0.32" />
    <param name="rear_stop_m" value="0.22" />
    <param name="front_angle_deg" value="42.0" />
    <param name="side_angle_min_deg" value="35.0" />
    <param name="side_angle_max_deg" value="82.0" />
    <param name="rear_angle_deg" value="35.0" />
    <param name="min_turn_wz" value="0.16" />
    <param name="max_turn_wz" value="0.34" />
    <param name="clear_slow_ratio" value="0.55" />
    <param name="allow_reverse" value="false" />
    <param name="scan_timeout" value="0.7" />
  </node>

  <node pkg="iden_controller" type="global_first_nav.py"
        name="global_first_nav" output="screen"
        respawn="true" respawn_delay="1.0">
    <rosparam file="$(arg config_yaml)" command="load" />
    <param name="map_yaml" value="$(arg map_yaml)" />
    <param name="goal_x" value="$(arg goal_x)" />
    <param name="goal_y" value="$(arg goal_y)" />
    <param name="goal_yaw" value="$(arg goal_yaw)" />
    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
    <param name="initial_pose_yaw" value="$(arg initial_pose_yaw)" />
  </node>
</launch>
