<launch>
  <arg name="map_yaml" default="$(find ucar_nav)/maps/6.3.1.yaml" />
  <arg name="config_yaml" default="$(find iden_controller)/config/global_first_graph_nav.yaml" />
  <arg name="goal_x" default="-1.50" />
  <arg name="goal_y" default="-0.40" />
  <arg name="goal_yaw" default="3.1415926" />
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_yaw" default="0.0" />

  <arg name="start_base" default="true" />
  <arg name="start_lidar" default="true" />
  <arg name="start_camera" default="true" />
  <arg name="start_map" default="true" />
  <arg name="start_amcl" default="true" />
  <arg name="start_vision_guard" default="false" />
  <arg name="vision_guard_enabled" default="false" />
  <arg name="start_safety_monitor" default="true" />

  <arg name="camera_topic" default="/ucar_camera/image_raw" />
  <arg name="camera_device" default="/dev/video0" />
  <arg name="camera_width" default="1280" />
  <arg name="camera_height" default="720" />
  <arg name="camera_pixel_format" default="MJPG" />
  <arg name="camera_capture_fps" default="30" />
  <arg name="camera_rate" default="15" />

  <include if="$(arg start_base)"
           file="$(find iden_controller)/launch/my_base_driver_iden.launch" />
  <include if="$(arg start_lidar)"
           file="$(find ydlidar)/launch/ydlidar.launch" />

  <node if="$(arg start_camera)"
        name="ucar_camera" pkg="ucar_camera" type="ucar_camera.py"
        output="screen" respawn="true" respawn_delay="1.0">
    <param name="cam_topic_name" value="$(arg camera_topic)" />
    <param name="device_path" value="$(arg camera_device)" />
    <param name="image_width" value="$(arg camera_width)" />
    <param name="image_height" value="$(arg camera_height)" />
    <param name="pixel_format" value="$(arg camera_pixel_format)" />
    <param name="capture_fps" value="$(arg camera_capture_fps)" />
    <param name="rate" value="$(arg camera_rate)" />
  </node>

  <node if="$(arg start_map)"
        name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_yaml)" output="screen" respawn="true">
    <param name="frame_id" value="map" />
  </node>

  <include if="$(arg start_amcl)"
           file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch" />

  <node if="$(arg start_vision_guard)"
        pkg="iden_controller" type="global_first_vision_guard.py"
        name="global_first_vision_guard" output="screen"
        respawn="true" respawn_delay="1.0">
    <param name="enabled" value="$(arg vision_guard_enabled)" />
    <param name="cmd_vel_in_topic" value="/cmd_vel_graph_raw" />
    <param name="cmd_vel_out_topic" value="/cmd_vel_raw" />
    <param name="image_topic" value="$(arg camera_topic)" />
    <param name="pass_through_on_no_image" value="true" />
    <param name="image_timeout_s" value="0.8" />
    <param name="roi_y_min_frac" value="0.58" />
    <param name="roi_y_max_frac" value="0.95" />
    <param name="sample_step_px" value="6" />
    <param name="bright_threshold" value="205" />
    <param name="min_confidence" value="0.28" />
    <param name="center_deadband_frac" value="0.055" />
    <param name="max_correction_wz" value="0.10" />
    <param name="max_abs_wz" value="0.72" />
    <param name="offset_slow_start_frac" value="0.18" />
    <param name="offset_stop_frac" value="0.46" />
    <param name="min_slow_ratio" value="0.50" />
    <param name="allow_visual_stop" value="false" />
  </node>

  <node if="$(arg start_safety_monitor)"
        pkg="iden_controller" type="global_first_safety_monitor.py"
        name="global_first_safety_monitor" output="screen"
        respawn="true" respawn_delay="1.0">
    <param name="cmd_vel_in_topic" value="/cmd_vel_raw" />
    <param name="cmd_vel_out_topic" value="/cmd_vel" />
    <param name="scan_topic" value="/scan" />
    <param name="enabled" value="true" />
    <param name="swap_left_right" value="false" />
    <param name="front_stop_m" value="0.24" />
    <param name="front_critical_m" value="0.18" />
    <param name="front_slow_m" value="0.35" />
    <param name="side_stop_m" value="0.16" />
    <param name="side_critical_m" value="0.14" />
    <param name="side_avoid_m" value="0.18" />
    <param name="side_slow_m" value="0.24" />
    <param name="rear_stop_m" value="0.24" />
    <param name="front_angle_deg" value="38.0" />
    <param name="side_angle_min_deg" value="35.0" />
    <param name="side_angle_max_deg" value="88.0" />
    <param name="rear_angle_deg" value="35.0" />
    <param name="min_turn_wz" value="0.16" />
    <param name="max_turn_wz" value="0.36" />
    <param name="clear_slow_ratio" value="0.96" />
    <param name="allow_reverse" value="false" />
    <param name="escape_enabled" value="true" />
    <param name="escape_back_speed" value="0.07" />
    <param name="escape_back_time_s" value="0.6" />
    <param name="escape_cooldown_s" value="2.5" />
    <param name="escape_rear_clear_m" value="0.34" />
    <param name="escape_front_release_m" value="0.34" />
    <param name="escape_turn_wz" value="0.06" />
    <param name="scan_timeout" value="0.7" />
  </node>

  <node pkg="iden_controller" type="global_first_graph_nav.py"
        name="global_first_graph_nav" output="screen"
        respawn="true" respawn_delay="1.0">
    <rosparam file="$(arg config_yaml)" command="load" />
    <param name="map_yaml" value="$(arg map_yaml)" />
    <param name="goal_x" value="$(arg goal_x)" />
    <param name="goal_y" value="$(arg goal_y)" />
    <param name="goal_yaw" value="$(arg goal_yaw)" />
    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
    <param name="initial_pose_yaw" value="$(arg initial_pose_yaw)" />
  </node>
</launch>
